

*{
   padding: 0;
   margin:0;
   box-sizing:border-box;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main{
   padding:32px;/*Padding 32px all around*/
   overflow-x: hidden;/*no scroll bar is visible*/
}

nav{
   display:flex;
   align-items: center;
}



nav .row{/*moves links on the right side of the logo*/
   display:flex;
   justify-content:space-between;
}

.row{
   width:100%;
   max-width:1280px;
   margin:0 auto;
   align-items: center;
}

.logo{
max-width:100%;
font-weight:900;
display:flex;
align-items: center;
font-size: 24px;
letter-spacing: 0.6px;
color:#243e63;
}

.logo__img{
   width:2.5rem;
   margin-right:0.75rem;
}

.nav__links a{
   text-decoration: none;
   padding-left:16px;
}

